//
//  Android.xcconfig
//  UIKit
//
//  Created by Chen Yonghui on 12/6/13.
//  Copyright (c) 2013 Shanghai Tinynetwork Inc. All rights reserved.
//

SDK_ROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/Android18.sdk
SDK_LIB_PATH=$(SDK_ROOT)/usr/lib

ARCHFLAGS=-march=armv7-a -mfloat-abi=softfp -mfpu=vfpv3-d16
ARCHLDFLAGS=-march=armv7-a -Wl,--fix-cortex-a8

DEPLOYMENT_LOCATION = YES
DSTROOT = /
OTHER_LDFLAGS= $(ARCHLDFLAGS) $(inherited) -shared -Wl,-z,defs -lobjc -lgnustl_shared -lGLESv2 -lm
INSTALL_PATH = $(SDK_ROOT)/System/Library/Frameworks/

OTHER_CFLAGS= $(ARCHFLAGS) $(inherited) -DANDROID=1 -fblocks -DGNUSTEP=1

